<h1 mat-dialog-title>Passwort Zurücksetzen</h1>
<div mat-dialog-content>
    <form [formGroup]="forgetPassword">
        <div class="form-group">
            <label for="email">
                E-Mail-Adresse
            </label>
            <input type="text" id="email" formControlName="email" class="form-control">
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Abbrechen</button>
    <button mat-button (click)="send()" cdkFocusInitial>Senden</button>
</div>