<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">404</span>
                <div class="mb-4 lead ">Die von Ihnen gesuchte Seite wurde nicht gefunden.</div>
                <p>Sie werden automatisch weitergeleitet in</p>
                <p>{{ counter }}</p>
                <a href="/" class="btn btn-info">Zurück zur Startseite</a><br>
                <img src="https://giphygifs.s3.amazonaws.com/media/11lxCeKo6cHkJy/giphy.gif" alt="Dancing Anime Girl">
            </div>
        </div>
    </div>
</div>