<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">404</span>
                <div class="mb-4 lead ">The page you are looking for was not found.</div>
                <p>{{ errorMessage }}</p>
                <a href="/" class="btn btn-info">Back to Home</a><br>
                <img src="http://giphygifs.s3.amazonaws.com/media/11lxCeKo6cHkJy/giphy.gif" alt="https://giphy.com/gifs/kawaii-smile-bqSkJ4IwNcoZG">
            </div>
        </div>
    </div>
</div>