<!-- ngFor -->

<div *ngFor="let offer of offers" class="row">
    <div class="col-md mb-2">
        <h5>{{ offer.name }}</h5>
    </div>
    <div class="col-md mb-2">
        <img 
            [src]="offer.image" 
            [alt]="offer.name" 
            class="img-fluid img-thumbnail" 
            [hidden]="!offer.image">
    </div>
    <div class="col-md mb-2">
        <p>{{ offer.description }}</p>
    </div>
    <div class="col-md-auto col-sm mb-2 text-right">
        <p> {{ offer.price | number:'1.2'  }} CHF</p>
    </div>
    <div class="col-md-auto col-sm mb-2 text-right" *ngIf="isLogged && role > 66">
        <button 
            class="btn btn-dark" 
            (click)="editOffer(offer.id)">
            Edit
        </button>
    </div>
</div>