<div class="container">
  <div class="row">
    <div class="col">
      <ul class="nav nav-tabs">
        <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a
            routerLink="/">Menu</a></li>
        <li role="presentation" routerLinkActive="active" *ngIf="!isLogged"><a routerLink="/login">Login</a></li>
        <li role="presentation" routerLinkActive="active" *ngIf="isLogged  && role > 33"><a
            routerLink="/users">Users</a></li>
        <li role="presentation" routerLinkActive="active" *ngIf="isLogged"><a routerLink="logout">Logout</a></li>
      </ul>
    </div>
  </div>
  <router-outlet></router-outlet>