<div class="navbar-light">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" routerLink="/"> Maid Cafe - Dream Garden</a>
        <button class="navbar-toggler" type="button" (click)="collapsed = !collapsed">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
            <ul class="navbar-nav ml-auto" (click)="collapsed = !collapsed">
                <li class="nav-item" role="presentation" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">
                    <a class="nav-link" routerLink="/">
                        Home
                    </a>
                </li>
                <li class="nav-item" role="presentation" routerLinkActive="active" *ngIf="!isLogged">
                    <a class="nav-link" routerLink="/login">
                        Login
                    </a>
                </li>
                <li class="nav-item" role="presentation" routerLinkActive="active" *ngIf="isLogged  && role > 33">
                    <a class="nav-link" routerLink="/users">Users</a>
                </li>
                <li class="nav-item" role="presentation" routerLinkActive="active" *ngIf="isLogged">
                    <a class="nav-link" routerLink="/orders">Orders</a>
                </li>
                <li class="nav-item dropdown" *ngIf="isLogged  && role > 33">
                    <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">More
                    </a>
                    <ul class="dropdown-menu">
                        <a class="text-dark" routerLink="/statistics">
                            <li class="dropdown-item" routerLinkActive="active">
                                Statistics
                            </li>
                        </a>
                    </ul>
                </li>
                <li class="nav-item d-flex pr-2" role="presentation" routerLinkActive="active" *ngIf="isLogged">
                    <a class="btn mb-2 btn-warning " routerLink="edit-me">{{ username }}
                        <i class="fa fa-user"></i>
                    </a>
                    <a class="btn mb-2 btn-warning " routerLink="logout">Logout
                        <i class="fa fa-sign-out"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>